*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1{
   color: rgb(26, 16, 4);
   background-color: blueviolet;
   margin-top: 2px;
   margin-left: 2px;
   margin-right: 2px;
   margin-bottom: 2px;
}